---
- name: Hypervisor
  hosts: localhost
  connection: local
  gather_facts: false
  no_log: "{{ molecule_no_log }}"
  vars:
      # Read driver defaults from an optional yaml file.
      virtup_file: "{{ lookup('env', 'VIRTUP_OPTIONS_FILE') | d('~/.config/molecule-virtup.yml', True) }}"
      virtup_yml: "{{ lookup('file', virtup_file, errors='ignore') | d('{}', True) }}"
      virtup_options: "{{ virtup_yml | from_yaml | combine(molecule_yml.driver.options) }}"
  tasks:
    - name: Driver options.
      debug:
        var: virtup_options

    - name: Add the hypervisor to the create inventory.
      changed_when: false
      add_host:
        name: virtup_hypervisor
        ansible_connection: "{{ virtup_options.connection | d('local') }}"
        ansible_host: "{{ virtup_options.host | d('localhost') }}"
        ansible_port: "{{ virtup_options.port | d(omit) }}"
        ansible_user: "{{ virtup_options.user | d(omit) }}"
        ansible_password: "{{ virtup_options.password | d(omit) }}"
        ansible_ssh_private_key_file: "{{ virtup_options.ssh_private_key_file | d(omit) }}"
        ansible_ssh_common_args: "{{ virtup_options.ssh_common_args | d(omit) }}"
        ansible_ssh_pipelining: "{{ virtup_options.ssh_pipelining | d(omit) }}"
        ansible_ssh_executable: "{{ virtup_options.ssh_executable | d(omit) }}"
        ansible_python_interpreter: "{{ virtup_options.python_interpreter | d(omit) }}"

- name: Create
  hosts: virtup_hypervisor
  gather_facts: false
  no_log: "{{ molecule_no_log }}"
  vars:
      virtup_file: "{{ lookup('env', 'VIRTUP_OPTIONS_FILE') | d('~/.config/molecule-virtup.yml', True) }}"
      virtup_yml: "{{ lookup('file', virtup_file, errors='ignore') | d('{}', True) }}"
      virtup_options: "{{ virtup_yml | from_yaml | combine(molecule_yml.driver.options) }}"
  tasks:
    # Workaround for ansible bug 14130.
    - set_fact:
        virtup_env:
            MOLECULE_EPHEMERAL_DIRECTORY: "{{ molecule_ephemeral_directory }}"
            LIBVIRT_DEFAULT_URI: "{{ virtup_options.libvirt_default_uri | d(omit) }}"

    - name: Create molecule instances.
      virt_up:
        state: up
        name: "{{ item.name }}"
        # Fallback to vagrant "box" name if template not specified.
        template: "{{ item.template | d(item.box | d('default')) }}"
        size: "{{ item.size | default(omit) }}"
        memory: "{{ item.memory | default(omit) }}"
        cpus: "{{ item.cpus | default(omit) }}"
        loglevel: "{{ virtup_options.loglevel | d(omit) }}"
      environment: "{{ virtup_env }}"
      loop: "{{ molecule_yml.platforms }}"
      register: virt_up

    - set_fact:
        instance_conf: "{{ virt_up.results | map(attribute='server') | list }}"
        keys: "{{ virt_up.results | map(attribute='keys') | unique | list }}"
        molecule_keys: "{{ virt_up.results | map(attribute='keys') | map(attribute='molecule') | unique | list }}"
    - name: Write instance config
      local_action:
        module: copy
        content: "{{ instance_conf }}"
        dest: "{{ molecule_instance_config }}"

    - name: Fetch private key files.
      fetch:
        flat: yes
        src: "{{ item.virtup }}"
        dest: "{{ item.molecule }}"
      loop: "{{ keys }}"

    - name: Fetch public key files.
      fetch:
        flat: yes
        src: "{{ item.virtup }}.pub"
        dest: "{{ item.molecule }}.pub"
      loop: "{{ keys }}"

    - name: Set private key file permissions.
      local_action:
        module: file
        state: file
        mode: "0600"
        path: "{{ item }}"
      loop: "{{ molecule_keys }}"

    - name: Set public key file permissions.
      local_action:
        module: file
        state: file
        mode: "0644"
        path: "{{ item }}.pub"
      loop: "{{ molecule_keys }}"
